.navbar-mobile {
  background-color: #4D0067 !important;
  color: #fff !important;
}


.custom-navbar .navbar-brand,
.custom-navbar .nav-link,
.custom-navbar .dropdown-toggle {
  color: #fff !important;
  /* เปลี่ยนสีตัวอักษรใน Navbar */
}

.custom-navbar .fa-bars,
.custom-navbar .fa-cog {
  color: #fff !important;
  /* เปลี่ยนสีไอคอนแฮมเบอร์เกอร์และฟันเฟือง */
}

.custom-navbar .dropdown-menu {
  background-color: #4D0067 !important;
  /* เปลี่ยนสีพื้นหลังของเมนู Dropdown */
}

.custom-navbar .dropdown-menu .dropdown-item {
  color: #fff !important;
  /* เปลี่ยนสีตัวอักษรในเมนู Dropdown */
}

.custom-navbar .dropdown-menu .dropdown-item:hover {
  background-color: #7A009F !important;
  /* เปลี่ยนสีเมื่อ Hover บนเมนู Dropdown */
}

.custom-navbar {
  margin-left: 250px;
  font-family: 'Anuphan';
}

@media (max-width: 768px) {
  .custom-navbar {
    margin-left: 0;
    /* ยกเลิก margin-left ในโหมดมือถือ */
    width: 100%;
    /* ให้ content-area ครอบคลุมเต็มพื้นที่ */
  }
}