.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}

.content-area {
    font-family: 'Anuphan';
  }

.custom-sidebar {
  width: 250px;
  position: fixed;
  height: 100%;
  background-color: #ffffff;
  transition: all 0.3s;
}

.custom-sidebar .nav-link {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-sidebar .nav-link:hover {
  background-color: #7A009F !important;
  color: #ffffff !important;
}

.custom-sidebar .nav-link.active {
  background-color: #620080 !important;
  color: #ffffff !important;
}

.footer {
  background-color: #4D0067 !important;
  color: #ffffff;
  padding: 3px 0;
  text-align: center;
  margin-left: 250px;
}

@media (max-width: 768px) {
  .custom-sidebar {
    display: none;
  }

  .content-area {
    margin-left: 0;
    padding: 10px;
  }

  .footer {
    margin-left: 0;
  }

  .navbar-mobile {
    display: flex;
    justify-content: space-between;
  }

  .hamburger-menu {
    display: block;
  }
}

/* สไตล์สำหรับ OtherNavMenu component */
.custom-navbar {
  background-color: #4D0067 !important;
  padding: 10px 0;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  color: #ffffff !important;
}

/* สไตล์สำหรับ OtherSidebar component */
.offcanvas {
  background-color: #ffffff;
}

.offcanvas-header {
  background-color: #4D0067;
  color: #ffffff;
}

.offcanvas-body .nav-link {
  color: #4D0067;
  transition: background-color 0.3s ease, color 0.3s ease;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  -moz-transition: background-color 0.3s ease, color 0.3s ease;
  -ms-transition: background-color 0.3s ease, color 0.3s ease;
  -o-transition: background-color 0.3s ease, color 0.3s ease;
}

.offcanvas-body .nav-link:hover,
.offcanvas-body .nav-link.active {
  background-color: #7A009F;
  color: #ffffff;
}